body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Timmana', sans-serif;
}

a {
  color: #3498DB;
}
a:hover{
  color: #85C1E9;  
}

li{
  list-style: none;
}
