<%- include('../partials/header') %>
    <h1 class="text-center">Questions</h1><br>
    <div class="row">
      <% for (let question of questions) { %>
        <div class="col-md-4">
          <ul class="questions-list">
            <li>
              <a href="/questions/<%= question.id %>">
                <h3><%= question.title %></h3>
              </a>
            </li>
          </ul>
          <hr>
        </div>
      <% } %>
    </div>
<%- include('../partials/footer') %>
